.contacts-list {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
  overflow-y: auto;
  max-height: 320px;
  padding-right: 8px;
  padding-left: 8px;
}
