.contact-edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  justify-items: stretch;
  height: fit-content;
  max-height: 100%;
  max-width: 100%;
  gap: 36px;
  & h2 {
    font-size: 26px;
  }

  &-container {
    display: flex;
    flex-direction: row;
    gap: 36px;
    place-content: center;
    place-items: center;
    & img {
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 9px;
      place-items: center;
    }
  }
}

.errors {
  color: red;
}
