//? DM Sans
@font-face {
  font-family: DMSans-Regular;
  src: url(../../fonts/dmSans/DMSans-Regular.ttf);
}
@font-face {
  font-family: DMSans-Bold;
  src: url(../../fonts/dmSans/DMSans-Bold.ttf);
}
//? Space Regular
@font-face {
  font-family: Space-Regular;
  src: url(../../fonts/spaceGrotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: Space-Bold;
  src: url(../../fonts/spaceGrotesk/SpaceGrotesk-Bold.ttf);
}
//? Goldman
@font-face {
  font-family: Goldman-Regular;
  src: url(../../fonts/goldman/Goldman-Regular.ttf);
}
@font-face {
  font-family: Goldman-Bold;
  src: url(../../fonts/goldman/Goldman-Bold.ttf);
}
