.app-footer {
  display: grid !important;
  text-align: center;
  background-color: #383855;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: em(18px);
  & h1 {
    // @include h3;
    color: lightgrey;
  }
}
