@import "src/styles.scss";

.app-footer {
  display: grid !important;
  text-align: center;
  place-content: center;
  place-items: center;
  // background-color: #383855;
  background-color: $clr1;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: em(18px);
  & h1 {
    // @include h3;
    color: lightgrey;
  }
}
