@import "src/assets/style/basics/_typography.scss";
@import "src/assets/style/setup/_variables.scss";
@import "src/assets/style/setup/_mixins.scss";

.home-page {
  display: flex;
  flex-direction: column;
  place-content: center;
  &-title {
    // @include h1-small;
    font-size: (64px);
    text-align: center;
    color: $primary-color-3;
  }
  &-balance {
    // @include h1-small;
    font-size: (64px);
    text-align: center;
    color: $primary-color-2;
  }
  &-to-dollar {
    color: $clr3;
  }
}
