@import "src/assets/style/setup/_mixins.scss";

.contacts-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  place-content: center;
  max-height: 100%;
  max-width: 100%;
  gap: 18px;
  &-title {
    // @include h2;
    font-size: (48px);
    padding-top: 18px;
    // padding-bottom: 18px;
  }
  &-link {
  }
}

.contacts-list {
  display: grid;
  //   justify-items: center;
  align-items: center;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 18px;
  overflow-y: auto;
  max-height: 320px;
  padding-right: 8px;
  padding-left: 8px;
}
