header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #4caf50;
  color: whitesmoke;
  margin-bottom: 30px;
  font-size: 1.2em;

  h1.logo {
    flex-grow: 1;
  }

  nav {
    a {
      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        color: darkred;
      }
    }
  }
}
